<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Create New Item</title>
</head>
<body>
   <div class="wrapper">
     <%- include('partials/navbar') %>
     <div class="container">
       <div class="form-container">
         <form class="form" method="POST" action="/items/update/<%= item.id %>">
           <label class="input-group"  for="itemName">name</label>
           <input id="itemName" type="text" name="itemName" value="<%= item.name  %>" maxlength="30" required />

           <label class="input-group"  for="itemPrice">Price</label>
           <input id="itemPrice" type="text" name="itemPrice" value="<%= item.price  %>"  maxlength="10" required />

           <label class="input-group"  for="itemSize">Size</label>
           <input id="itemSize" type="text" name="itemSize" value="<%= item.size  %>"  maxlength="10" required />

           <label for="itemCategory">Select a Category:</label>
           <select name="itemCategory" id="itemCategory" required>
             <% categories.forEach(category => { %>
               <option value="<%= category.id %>" <%= category.id == item.category_id ? 'selected' : '' %>><%= category.name %></option>
             <% }) %>
           </select>
           
           <button class="" type="submit">Update Item</button>
           <a class="" href="/">View Items!</a>
         </form>
       </div>

     </div>

   </div>
</body>
</html>
  

<% /* %>
<option value="<%= category.id %>":

- The value attribute of the <option> element is set to category.id. 
- This means that when the user selects this option from the dropdown, the category.id will be submitted as the value.



<%= category.id == item.category_id ? 'selected' : '' %>:

- This is a conditional (ternary) operator in EJS. It checks if the category.id is equal to item.category_id.
- If the category.id matches item.category_id, the selected attribute is added to this option, making it the pre-selected option when the form is loaded.
- If they don't match, it leaves the option without the selected attribute.


><%= category.name %></option>:

- The category.name is inserted between the opening and closing <option> tags, making it the visible text that the user sees in the dropdown.
<% */ %>